*{
    margin: 0
}

/* .bg{
    background-image: url(../images/tradingwebapp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh
} */