.header-main{
    width: 100vw;
    height: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-items{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
  }
  
  .header-items li {
    float: left;
  }
  
  .header-items li span, button{
    display: block;
    color: rgb(17, 12, 12);
    text-align: center;
    
    padding: 14px 26px;
    text-decoration: none;
  }

 .header-items li button{
   outline: none;
   border: none;
   background-color: white;
 }
  
  .logo{
      font-size: 20px;
  }

  li button:hover {
    background-color: rgb(29, 29, 218);
  }