<main class="form-signin">
    <form [formGroup]="form" (submit)="registerRegulator()" ngNativeValidate>
      <h3>Regulator Portal</h3>
      <hr>
      <h1 class="h3 mb-3 fw-normal">Regulator Registration</h1>
  
      <div class="form-floating">
        <input formControlName="firstName" required type="text" class="form-control" id="floatingInput" placeholder="Lastname">
        <label for="floatingInput">First Name</label>
      </div>
      <div class="form-floating">
        <input formControlName="lastName" required type="text" class="form-control" id="floatingInput" placeholder="Lastname">
        <label for="floatingInput">Lastname</label>
      </div>
      <div class="form-floating">
        <input formControlName="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input formControlName="password" title="Field must contain eight or more characters" type="password" required pattern=".{8,}" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <!-- <div class="form-floating">
        <input formControlName="confirmPassword" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Confirm Password</label>
      </div> -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    </form>
  </main>